form {
  max-width: 500px;
  background-color: #1a1a1a;
  padding: 20px;
  border: 2px solid #ff7518;
  border-radius: 20px;
  color: white;
  
}

label {
  display: block;
  margin-top: 15px;
  
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: none;
}

button {
  margin-top: 40px;
  padding: 10px 15px;
  background-color: #ff7518;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction:column ;
  text-align: center;
  
}

button:hover {
  background-color: #ffa94d;
  
}

.mensaje-error {
  color: #b30000;
  font-size: 0.95em;
  margin-top: 5px;
  animation: shake 0.3s;
}

.mensaje-exito {
  margin-top: 20px;
  color: #00ff00;
  text-align: center;
}

.error {
  border: 2px solid #b30000 !important;
  background-color: #330000;
}