.example-spacer{
    flex: 1 1 auto;
}

.opcion{
    cursor: pointer;
}

.opcion:hover{
    font-weight: 600;
}

.nav-halloween{
    background-color: blueviolet;
    color: aliceblue;
}

.navidad {
     background-color: rgb(248, 50, 0);
    color: aliceblue;
}

@media (max-width: 900px){
    .opcion2{
        display: none;
    }
}



