.example-spacer{
    flex:2%;
}

.opcion{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
}



.opcion:hover{
    font-weight: 600;
}

.nav-halloween{
    background-color: blueviolet;
    color: aliceblue;
}

.nav-navidad{
    background-color: rgb(238, 7, 7);
    color: aliceblue;
}

@media (max-width: 900px){
    .opcion2{
        display: none;
    }
}





